@{
    var token = Context.Session.GetString("JWToken");
    var role = Context.Session.GetString("Role");
    var islogin = !string.IsNullOrEmpty(token);
}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Employee" asp-action="GetAll">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Employee" asp-action="GetAll">Nhân viên</a>
                </li>
                @if (role == "Admin")
                {

                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Login" asp-action="getall">Tài khoản</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Department" asp-action="GetAll">Phòng Ban</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Job" asp-action="GetAll">Công việc</a>
                </li>
                @if (!islogin)
                {
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Login" asp-action="Login">Đăng nhập </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Login" asp-action="Register">Đăng ký </a>
                    </li>
                }
                else
                {
                    <form asp-controller="Login" asp-action="Logout" method="post" class="form-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="nav-link btn btn-link text-decoration-none">Đăng xuất</button>
                    </form>

                }
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Xin chào @ViewBag.Username</a></li>
                        <li><a class="dropdown-item" href="#">Role @ViewBag.Role</a></li>
                       
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>